<br>
 <div class="jumbotron">
   <h1>BlocMetrics</h1>
   <p>Utitilize BlocMetrics to track events on your application! Better information equals better business.</p>
   <p>
     <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or
     <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
   </p>
 </div>
